{% load static %}

<section class="galerie-section">
    <div class="galerie-wrapper">

        <div class="galerie-grid">
            <img src="{% static 'images/galerie-01.avif' %}" alt="Galerie Queen Victoria 1">
            <img src="{% static 'images/galerie-02.avif' %}" alt="Galerie Queen Victoria 2">
            <img src="{% static 'images/galerie-03.avif' %}" alt="Galerie Queen Victoria 3">
            <img src="{% static 'images/galerie-04.avif' %}" alt="Galerie Queen Victoria 4">
            <img src="{% static 'images/galerie-05.avif' %}" alt="Galerie Queen Victoria 5">
            <img src="{% static 'images/galerie-06.avif' %}" alt="Galerie Queen Victoria 6">
            <img src="{% static 'images/galerie-07.avif' %}" alt="Galerie Queen Victoria 7">
            <img src="{% static 'images/galerie-08.avif' %}" alt="Galerie Queen Victoria 8">
            <img src="{% static 'images/galerie-09.avif' %}" alt="Galerie Queen Victoria 9">
            <img src="{% static 'images/galerie-10.avif' %}" alt="Galerie Queen Victoria 10">
            <img src="{% static 'images/galerie-11.avif' %}" alt="Galerie Queen Victoria 11">
            <img src="{% static 'images/galerie-12.avif' %}" alt="Galerie Queen Victoria 12">
            <img src="{% static 'images/galerie-13.avif' %}" alt="Galerie Queen Victoria 13">
            <img src="{% static 'images/galerie-14.avif' %}" alt="Galerie Queen Victoria 14">
            <img src="{% static 'images/galerie-15.avif' %}" alt="Galerie Queen Victoria 15">
            <img src="{% static 'images/galerie-16.avif' %}" alt="Galerie Queen Victoria 16">
            <img src="{% static 'images/galerie-17.avif' %}" alt="Galerie Queen Victoria 17">
            <img src="{% static 'images/galerie-18.avif' %}" alt="Galerie Queen Victoria 18">
        </div>
    </div>
</section>
