<section class="subiecte-section">
    <div class="subiecte-wrapper">
        <div class="subiecte-content-box">
            <h1 class="subiecte-title">STRUCTURA SUBIECTELOR</h1>

            <p>Pentru toate etapele concursului, subiectele vor avea urmatoarea structura:</p>

            <h2>PARTEA 1</h2>
            <ol>
                <li>Fill in the blanks - 10 itemi istorici - text istoric/geografic selectat conform tematicii, in care candidatii vor trebui sa puna cuvintele lipsa in spatiile libere.</li>
                <li>Matching - 10 itemi, care pot include matching years and kings pentru gimnaziu, iar pentru liceu, candidatii vor trebui sa potriveasca jumatati de fraza.</li>
                <li>Match the headings to the extracts - 5 titluri pe care candidatii vor trebui sa le dea fiecarui text pe tema de cultura si civilizatie britanica.</li>
            </ol>

            <h2>PARTEA 2</h2>
            <p>
                Writing - care consta in redactarea unui scurt paragraf pornind de la o imagine legata de un eveniment din istoria Regatului Unit. In cea de-a doua parte, elevii vor avea de redactat un text pornind de la o imagine care este reprezentativa pentru un eveniment istoric. In functie de nivelul de studiu, participantii vor trebui sa se incadreze intr-un numar maxim de cuvinte.
            </p>

            <p>Concursul se va desfasura cu participare directa.</p>
            <p>Nu se percepe taxa de participare.</p>
        </div>
    </div>
</section>
