{% load static %}

<section class="about-section section">
    <div class="container about-grid">
        <div class="about-text">
            <h2>Despre concurs</h2>

            <p>
                Concursul național de cultură și civilizație britanică „Queen Victoria”
                a fost gândit pentru a veni în sprijinul elevilor din ciclul gimnazial și
                ciclul liceal care doresc să-și aprofundeze cunoștințele de cultură și
                civilizație britanică răspunzând, în același timp, nevoii de competiție
                în limba engleză.
            </p>

            <p>
                Scopul principal al concursului este acela de a le permite elevilor să își
                utilizeze cunoștințele de cultură și civilizație britanică și, în același timp,
                să se familiarizeze cu principalele evenimente istorice, cu membrii caselor regale,
                care au contribuit la formarea regatului, precum și cu o serie de autori britanici
                reprezentativi pentru cultura britanică.
            </p>

            <p>
                Elevii vor avea ocazia să își testeze cunoștințele pe care le-au dobândit folosind
                o metodă modernă de evaluare, precum și să utilizeze limba engleză în diferite contexte.
                De asemenea, participanții vor beneficia de un mediu competitiv și de șanse egale pentru
                a-și putea dovedi cunoștințele și perspicacitatea.
            </p>

            <a class="button-outline" href="{% url 'informatii' %}">Read More</a>
        </div>

        <div class="about-image">
            <img src="{% static 'images/qv3.avif' %}" alt="Queen Victoria">
        </div>
    </div>
</section>