{% extends "base.html" %}

{% block title %}Informatii | Queen Victoria{% endblock %}

{% block body_class %}page-informatii{% endblock %}

{% block content %}
    {% include "components/sections/informatii/informatii_intro.html" %}
    {% include "components/sections/informatii/informatii_structura.html" %}
    {% include "components/sections/informatii/informatii_etape.html" %}
    {% include "components/sections/informatii/informatii_calificare.html" %}
    {% include "components/sections/informatii/informatii_contestatii.html" %}
    {% include "components/sections/informatii/informatii_premiere.html" %}
{% endblock %}