{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Queen Victoria{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="module" src="{% static 'ts/main.ts' %}"></script>
</head>
<body>
    {% include "components/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}
</body>
</html>