{% load static %}

<section class="organizer-section section">
    <div class="container organizer-content">
        <h2>
            Concursul este organizat de<br>
            Clubul de Cultură și Civilizație Britanică<br>
            „Queen Elizabeth II”<br>
            și<br>
            partenerii.
        </h2>

        <div class="organizer-logo">
            <img src="{% static 'images/5b83e9_fd338748fd7946c5ae35746381abbf18~mv2.avif' %}" alt="Queen Elizabeth II Club">
        </div>

        <p class="organizer-note">
            Concursul este aprobat prin OME nr. 3.153/28.01.2026,
            <a href="#">Anexa 5</a>, la poziția C5.
        </p>
    </div>
</section>