<section class="content-box">


<h2>CRITERII DE CALIFICARE</h2>

<p>
    <strong>Etapa pe școală</strong> va fi organizată la nivelul fiecărei unități de învățământ și 
    pot participa toți elevii care corespund grupului țintă al concursului. La etapa 
    locală se vor califica toți cei care au obținut peste 80 de puncte la proba scrisă. 
    Subiectele vor fi concepute la nivelul unității de învățământ de către o Comisie 
    constituită în unitatea școlară, prin decizia directorului, iar lucrările vor fi 
    corectate de către Comisia de organizare și evaluare constituită tot de  la nivelul 
    unității de învățământ.

</p>
<p>
    <strong>Etapa locală</strong> va fi organizată la nivelul fiecărei localități și pot participa 
    toți elevii care s-au calificat la etapa pe școală, respectiv toți cei care au obținut peste 
    80 de puncte. Subiectele vor fi concepute la nivelul localității de către o Comisie constituită 
    în unitatea școlară organizatoare din fiecare localitate, prin decizia directorului, iar lucrările 
    vor fi corectate de către Comisia de organizare și evaluare constituită tot de la 
    nivelul localității. 
</p>
<p>
    La <strong>Etapa județeană</strong> se vor califica elevii care au obținut cel puțin 80 de puncte 
    la etapa locală. Aceasta se va organiza pe centre de concurs, iar, la această etapă, fiecare 
    centru de concurs are obligația de a stabili data la care se va desfășura etapa județeană precum 
    și de a o comunica organizatorilor. De asemenea, subiectele vor fi elaborate de fiecare județ, 
    respectând structura subiectelor menționată la punctul IX., din acest Regulament Specific. Nu pot 
    participa la această etapă elevii care nu au participat la etapa pe școală a concursului.
</p>
<p>
    La <strong>Etapa interjudețeană</strong> se vor califica toți participanții care au obținut cel 
    puțin 85 de puncte la etapa județeană sau premii și mențiuni la etapa județeană. Pentru această 
    etapă subiectele sunt unice pentru toate regiunile, respectând structura de la punctul IX., iar 
    ierarhia se va realiza la nivel interjudețean, respectiv pentru toți participanții la această etapă.
</p>
<p>
    La <strong>Etapa națională</strong> se vor califica toți participanții care au obținut premii 
    (I, II și III) la etapa interjudețeană. În această categorie NU intră mențiunile. Pentru această 
    etapă subiectele sunt elaborate de către comisia de organizare din județul organizator, respectând 
    structura de la punctul IX și validate de inițiatori.
</p>


</section>
