<section class="content-box">


<h2>CONTESTAȚII</h2>

<p>
    Eventualele contestații se vor depune în maximum 12 ore 
    de la data afișării rezultatelor, într-un interval stabilit 
    de Comisia de organizare și desfășurare, la secretariatul 
    unității de învățământ organizatoare sau online la adresa de 
    mail anunțată anterior și postată pe site-ul concursului. Lucrările 
    vor fi resigilate și vor fi evaluate de către o comisie formată din doi 
    membri, alții decât cei de la evaluarea inițială, în conformitate cu 
    prevederile OMEC 6727/25.11.2025. Rezultatele se vor afișa la maximum 72 de 
    ore la încheiere perioadei de depunere a contestațiilor, iar pentru etapa națională, 
    acesta nu poate depăși 24 de ore. NOTA DE LA CONTESTAȚII ESTE NOTA FINALĂ. Comisia de 
    organizare are obligația de a afișa lista finală. 
</p>


</section>
