<section class="content-box">


<h2>PREMIEREA</h2>

<p>
    Premiile pentru toate etapele concursului se vor acorda în ordinea descrescătoare 
    a punctajelor obținute conform legislației în vigoare.
    <br>
    Se vor acorda premiul I, premiul II, premiul III și mențiune în funcție de punctajele 
    obținute de participanți. Premiile și mențiunile se vor acorda în ordinea descrescătoare 
    a punctajelor obținute, fără, însă, a depăși 30% din numărul de participanți. Acordarea 
    premiilor va fi stabilită de către Comisia de organizare și desfășurare a concursului 
    pentru fiecare etapă, pentru fiecare ciclu de învățământ și pentru fiecare clasă.
</p>



</section>
