<section class="content-box">


<h2>STRUCTURA SUBIECTELOR</h2>

<p>Pentru toate etapele concursului, subiectele vor avea următoarea strctură:</p>

<h3>PARTEA 1</h3>
<ol>
    <li>Fill in the blanks - 10 itemi istorici - text istoric/geografic selectat conform tematicii, în care candidații vor trebui să pună cuvintele lipsă în spațiile libere.</li>
    <li>Matching - 10 itemi, care pot include matching years and kings pentru gimnaziu, iar pentru liceu, candidații vor trebui să potrivească jumătăți de frază.</li>
    <li>Match the headings to the extracts - 5 titluri pe care candidații vor trebui să le dea fiecărui text pe temă de cultură și civilizație britanică.</li>
</ol>

<h3>PARTEA 2</h3>
<p>
    Writing - care constă în redactarea unui scurt paragraf pornind de la o imagine legată de un eveniment din istoria Regatului Unit. În cea de-a doua parte, elevii vor avea de redactat un text pornind de la o imagine care este reprezentativă pentru un eveniment istoric. În funcție de nivelul de studiu, participanții vor trebui să se încadreze într-un număr maxim de cuvinte.
</p>

<p><strong>Concursul se va desfășura cu participare directă.</strong></p>
<p><strong>Nu se percepe taxă de participare.</strong></p>


</section>
