<section class="content-box">


<h2>ASPECTE ORGANIZATORICE</h2>

<h3>ETAPA PE ȘCOALĂ</h3>
<p>Se va organiza, în conformitate cu prevederile OMEC 6727/25.11.2025, de către o comisie constituită la 
    nivelul fiecărei unității de învățământ. Subiectele vor fi elaborate de către un membru desemnat din comisia 
    metodică din unitatea școlară în care se organizează etapa pe școală. Rezultatele de la etapa pe școală se vor 
    aduce la cunoștința participanților și, ulterior, se vor trimite, în format Excel, coordonatorului etapei locale 
    și se vor încărca în Drive-ul destinat concursului.</p>

<h3>ETAPA LOCALĂ</h3>
<p>Se va organiza în, conformitate cu prevederile OMEC 6727/25.11.2025,  de către o comisie constituită la nivelul 
    fiecărei localități. Subiectele vor fi elaborate de către un membru desemnat din comisia de organizare de la nivelul 
    fiecărei localități sau din unitatea școlară în care se organizează etapa locală. Rezultatele de la etapa locală se vor 
    aduce la cunoștința participanților și, ulterior, se vor trimite, în format Excel, coordonatorului etapei județene sau 
    coordonatorului municipiului București și se vor încărca în Drive-ul destinat concursului.</p>

<h3>ETAPA JUDEȚEANĂ</h3>
<p>
    Se va organiza, în conformitate cu prevederile OMEC 6727/25.11.2025, la un centru desemnat de către inițiatorul 
    concursului, respectiv într-o unitate de învățământ din județ sau din municipiul București. În cazul în care numărul 
    de participanți este mare, sau din alte motive nu se poate organiza într-o unitate de învățământ, atunci etapa județeană 
    se poate organiza și în mai multe școli.  Comisia de organizare, desfășurare și evaluare se va constitui în conformitate cu 
    prevederile legale și cu prevederile prezentului Regulament Specific , de către școala organizatoare. Acesta este responsabilă 
    cu derularea concursului.
    <br>
    <br>
    Pentru această etapă, coordonatorul fiecărui județ va stabili data de desfășurare a etapei județene, precum și locația de 
    desfășurare. Tot coordonatorul județean, desemnat de inițiatori, va alcătui o echipă pentru elaborarea subiectelor, iar 
    acestea vor fi elaborate la nivelul fiecărui județ sau la nivelul municipiului București. Aceste vor fi trimise pe mail 
    în toate centrele de desfășurare din județ în dimineața desfășurării probei, cu parolă trimisă prin SMS. Fiecare unitate 
    organizatoare va multiplica subiectele color și va asigura buna desfășurare a concursului. Coordonatorul județean va 
    coordona corectarea lucrărilor în fiecare județ sau în municipiul București și va realiza o ierarhie în funcție de care 
    se vor distribui premiile. Aceștia vor încărca toate aceste documente cu ierarhia în Drive-ul concursului.
    <br>
    <br>
    Toate deciziile necesare desfășurării, în bune condiții a concursului, vor fi eliberate de către Inspectoratul 
    Școlar Județean din fiecare județ în care se organizează concursul. De asemenea, toate diplomele necesare se 
    vor elabora, semna și ștampila de către Inspectoratul Școlar Județean din fiecare județ. 
    <br>
    <br>
    Pentru etapa județeană, structura subiectelor va respecta punctul IX. din prezentul Regulament Specific. 
    Toate cerințele for fi formulate conform tematicii de concurs, parte a acestui Regulament Specific.
    <br>
    <br>
    <strong> 
    Durata probelor de concurs pentru etapa județeană este de 60 de minute pentru elevii de la 
    ciclul gimnazial și de 90 de minute pentru elevii de la ciclul liceal.
    </strong>
</p>

<h3>ETAPA INTERJUDEȚEANĂ</h3>
<p>
    Se va organiza, în conformitate cu prevederile OMEC 6727/25.11.2025, pe regiuni, la o instituție desemnată de către 
    inițiatorii concursului, cu subiecte unice pentru toate regiunile sau pentru municipiul București. Concursul va 
    începe la aceeași oră în toate unitățile de învățământ și va respecta același calendar.
    <br>
    <br>
    Pentru această etapă, toate lucrările vor fi scanate și se vor încărca în Drive-ul destinat concursului. Ulterior 
    lucrările vor fi corectate de către corectorii din fiecare regiune și ierarhizate de către comisia de organizare 
    într-un tabel Excel, tabel ce va fi încărcat în Drive. Președintele concursului, împreună cu echipa de coordonare 
    din fiecare județ și din municipiul București va realiza o ierarhie care va conține toate regiunile participante. 
    Ierarhia se va realiza descrescător și, în funcție de aceasta, se va realiza ierarhia premiilor la nivel interjudețean.
    <br>
    <br>
    Și la această etapă, toate deciziile necesare desfășurării, în bune condiții a concursului, vor fi eliberate de către 
    Inspectoratul Școlar Județean din fiecare județ în care se organizează etapa interjudețeană. De asemenea, toate diplomele 
    necesare se vor elabora, semna și ștampila de către Inspectoratul Școlar Județean din fiecare județ în care se organizează 
    această etapă.
    <br>
    <br>
    Pentru etapa interjudețeană, structura subiectelor va respecta punctul IX. din prezentul Regulament Specific. Toate 
    întrebările for fi formulate conform tematicii de concurs, parte a acestui Regulament Specific. 
</p>

<h3>ETAPA NAȚIONALĂ</h3>
<p>
    Se va organiza, în conformitate cu prevederile OMEC 6727/25.11.2025, de către inițiatori, de regulă, la Colegiul Național 
    „Carol I” din Craiova, sau la o altă instituție desemnată de inițiatorii concursului. În cazul în care, din motive obiective 
    (număr mare de candidați, lipsa finanțării, condițiile meteo, etc.) etapa națională se va organiza și pe regiuni, la o singură 
    unitate de învățământ, cu subiecte unice pentru toate regiunile sau pentru municipiul București. Concursul va începe la aceeași 
    oră în toate unitățile de învățământ și cu subiecte unice.
    <br>
    <br>
    Pentru etapa națională, structura subiectelor va respecta punctul IX. din prezentul Regulament Specific. Toate întrebările for 
    fi formulate conform tematicii de concurs, parte a acestui Regulament Specific. 
    <br>
    <br>
    <strong>
    Durata probelor de concurs pentru etapa națională este de 60 de minute pentru elevii de la ciclul gimnazial și de 90 de minute 
    pentru elevii de la ciclul liceal.
    </strong>
</p>


</section>
